dl,
ol,
ul {
    padding-inline-start: 0;
}

input {
    box-shadow: 0 2px 5px 0 rgb(116 155 226 / 48%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border: none;
    text-align: center;
    border-radius: 5px;
}

input:focus {
    box-shadow: 0 2px 5px 0 rgb(179 116 226 / 48%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border: none;
    outline: none;
}

ul.card {
    box-shadow: 0 2px 5px 0 rgb(212 212 212 / 48%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    border: none;
    padding-bottom: .5rem;
    height: 100%;
}

.card {
    border-radius: .5rem;
}

.list-group-item {
    padding: .25rem 1.25rem;
    border: none;
}

.att,
.stat,
.label {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}